# A project to analyse the data of UFO was seen all over the globe

    Basics of Pandas

In [26]:
import pandas as pd
import matplotlib as plt
import numpy as np
%matplotlib inline

In [27]:
df = pd.read_csv('data/reports.csv')
df.head(3)

,summary,city,state,date_time,shape,duration,stats,report_link,text,posted,city_latitude,city_longitude
0,My wife was driving southeast on a fairly popu...,Chester,VA,2019-12-12T18:43:00,light,5 seconds,Occurred : 12/12/2019 18:43 (Entered as : 12/...,http://www.nuforc.org/webreports/151/S151739.html,My wife was driving southeast on a fairly popu...,2019-12-22T00:00:00,37.343152,-77.408582
1,I think that I may caught a UFO on the NBC Nig...,Rocky Hill,CT,2019-03-22T18:30:00,circle,3-5 seconds,Occurred : 3/22/2019 18:30 (Entered as : 03/2...,http://www.nuforc.org/webreports/145/S145297.html,I think that I may caught a UFO on the NBC Nig...,2019-03-29T00:00:00,41.664800,-72.639300
2,I woke up late in the afternoon 3:30-4pm. I we...,NaN,NaN,NaN,NaN,NaN,Occurred : 4/1/2019 15:45 (Entered as : April...,http://www.nuforc.org/webreports/145/S145556.html,I woke up late in the afternoon 3:30-4pm. I w...,NaN,NaN,NaN

## Analysing the shape/info of the Dataset

    - df.shape
    - df.colums
    - df.dtypes
    - df.info() (is better) 
    - df.isnull().sum()  -> is a Dataframe method
    - pd.set_option('display.max_columns', 10)

In [28]:
# number of rows and cols
df.shape

(88125, 12)

In [29]:
df.columns

Index(['summary', 'city', 'state', 'date_time', 'shape', 'duration', 'stats',
       'report_link', 'text', 'posted', 'city_latitude', 'city_longitude'],
      dtype='object')

In [30]:
df.dtypes

summary            object
city               object
state              object
date_time          object
shape              object
duration           object
stats              object
report_link        object
text               object
posted             object
city_latitude     float64
city_longitude    float64
dtype: object

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88125 entries, 0 to 88124
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   summary         88095 non-null  object
 1   city            87891 non-null  object
 2   state           82890 non-null  object
 3   date_time       86938 non-null  object
 4   shape           85627 non-null  object
 5   duration        84954 non-null  object
 6   stats           88088 non-null  object
 7   report_link     88125 non-null  object
 8   text            88070 non-null  object
 9   posted          86938 non-null  object
 10  city_latitude   72013 non-null  float64
 11  city_longitude  72013 non-null  float64
dtypes: float64(2), object(10)
memory usage: 8.1+ MB

In [32]:
# Determine the number of missing/NaN values in each columns
df.isnull().sum()

summary              30
city                234
state              5235
date_time          1187
shape              2498
duration           3171
stats                37
report_link           0
text                 55
posted             1187
city_latitude     16112
city_longitude    16112
dtype: int64

## Selecting Rows and Columns loc, iloc & indexing

indexing is like primary key for a row but unlike pk index dont have to be always unique. `df.loc['index_name']` will return all the mattching row.

    - df.set_index('NAME_OF_A_COL') --> takes inplace parameter
    - df.index
    - df.sort_index() --> takes inplace

#### Selecting one/multiple col

In [33]:
df[['stats', 'text']].head(3)

,stats,text
0,Occurred : 12/12/2019 18:43 (Entered as : 12/...,My wife was driving southeast on a fairly popu...
1,Occurred : 3/22/2019 18:30 (Entered as : 03/2...,I think that I may caught a UFO on the NBC Nig...
2,Occurred : 4/1/2019 15:45 (Entered as : April...,I woke up late in the afternoon 3:30-4pm. I w...

### Selecting a specific row by integer indexing

In [34]:
df.iloc[100]

summary           Formation observed flying over Lakehurst Naval...
city                                                      Bricktown
state                                                            NJ
date_time                                       1980-08-15T20:00:00
shape                                                     formation
duration                                                 20 minutes
stats             Occurred : 8/15/1980 20:00  (Entered as : 08/1...
report_link        http://www.nuforc.org/webreports/049/S49920.html
text              Formation observed flying over Lakehurst Naval...
posted                                          2006-05-15T00:00:00
city_latitude                                                   NaN
city_longitude                                                  NaN
Name: 100, dtype: object

### Selecting multiple rows by integer indexing

In [35]:
df.iloc[1:5 , [3,4,5]]
# here 1:5 is sliced rows & [3,4,5] means we only showing those cols only

             date_time     shape     duration
1  2019-03-22T18:30:00    circle  3-5 seconds
2                  NaN       NaN          NaN
3  2019-04-17T02:00:00  teardrop   10 seconds
4  2009-03-15T18:00:00     cigar    2 minutes

In [36]:
temp_df = df.set_index('shape')
temp_df.head(3)

,summary,city,state,date_time,duration,stats,report_link,text,posted,city_latitude,city_longitude
shape,,,,,,,,,,,
light,My wife was driving southeast on a fairly popu...,Chester,VA,2019-12-12T18:43:00,5 seconds,Occurred : 12/12/2019 18:43 (Entered as : 12/...,http://www.nuforc.org/webreports/151/S151739.html,My wife was driving southeast on a fairly popu...,2019-12-22T00:00:00,37.343152,-77.408582
circle,I think that I may caught a UFO on the NBC Nig...,Rocky Hill,CT,2019-03-22T18:30:00,3-5 seconds,Occurred : 3/22/2019 18:30 (Entered as : 03/2...,http://www.nuforc.org/webreports/145/S145297.html,I think that I may caught a UFO on the NBC Nig...,2019-03-29T00:00:00,41.664800,-72.639300
NaN,I woke up late in the afternoon 3:30-4pm. I we...,NaN,NaN,NaN,NaN,Occurred : 4/1/2019 15:45 (Entered as : April...,http://www.nuforc.org/webreports/145/S145556.html,I woke up late in the afternoon 3:30-4pm. I w...,NaN,NaN,NaN

In [37]:
# name of all the indexes 
df.index

RangeIndex(start=0, stop=88125, step=1)

In [38]:
# name of all the indexes 
temp_df.index

Index([    'light',    'circle',         nan,  'teardrop',     'cigar',
            'disk',   'unknown',    'circle',      'oval',     'other',
       ...
           'cigar',     'light',         nan,     'light',     'light',
       'formation',     'light', 'formation',  'fireball',    'sphere'],
      dtype='object', name='shape', length=88125)

In [45]:
# sorting by index
temp_df.sort_index()
temp_df.sort_index().loc['changing'].head(3)

,summary,city,state,date_time,duration,stats,report_link,text,posted,city_latitude,city_longitude
shape,,,,,,,,,,,
changing,Orange Glowing Unidentified objects over the G...,Gulf Shores,AL,2007-06-06T22:00:00,34 minutes,Occurred : 6/6/2007 22:00 (Entered as : 06/06...,http://www.nuforc.org/webreports/057/S57023.html,Orange Glowing Unidentified objects over the G...,2007-06-12T00:00:00,30.250995,-87.68415
changing,"Strange lights with strange movements, then va...",Streetsboro,OH,2015-08-10T11:45:00,15 minutes,Occurred : 8/10/2015 11:45 (Entered as : 08/1...,http://www.nuforc.org/webreports/121/S121050.html,"Strange lights with strange movements, then va...",2015-08-13T00:00:00,41.235000,-81.34340
changing,Linear triangle shaped object observed in Pamp...,Pamplin,VA,2018-01-15T05:33:00,10 minutes,Occurred : 1/15/2018 05:33 (Entered as : 01/1...,http://www.nuforc.org/webreports/138/S138391.html,Linear triangle shaped object observed in Pamp...,2018-01-18T00:00:00,37.271300,-78.62660

## Creating date time columns

In [40]:
df['date_time'] = pd.to_datetime(df['date_time'])

In [41]:
df['date_time'].tail()

88120   2019-10-02 20:00:00
88121   2019-10-02 20:00:00
88122   2019-10-02 20:03:00
88123   2019-10-02 22:00:00
88124   2019-10-02 22:00:00
Name: date_time, dtype: datetime64[ns]

In [42]:
tm = pd.to_datetime('1/1/1970')

df.loc[df['date_time'] < tm].head(3)

,summary,city,state,date_time,shape,duration,stats,report_link,text,posted,city_latitude,city_longitude
54,It was a full moon when my brother and I obser...,Lawrenceburg,KY,1969-06-01 21:00:00,disk,5 minutes,Occurred : 6/1/1969 21:00 (Entered as : 1969 ...,http://www.nuforc.org/webreports/049/S49947.html,It was a full moon when my brother and I obser...,2006-05-15T00:00:00,38.005200,-84.983000
55,"UFO over Orangevale, CA in May/June 1969",Orangevale,CA,1969-06-01 23:00:00,unknown,30 to 45 minutes,Occurred : 6/1/1969 23:00 (Entered as : 06/01...,http://www.nuforc.org/webreports/049/S49619.html,"UFO over Orangevale, CA in May/June 1969 My fi...",2006-05-15T00:00:00,38.684500,-121.222300
56,A FLYING OBJECT BURNED TOP OF TREES IN ROCKY ...,Rocky Mount,NC,1969-07-27 21:45:00,sphere,15 MINUTES,Occurred : 7/27/1969 21:45 (Entered as : 07/2...,http://www.nuforc.org/webreports/050/S50399.html,A FLYING OBJECT BURNED TOP OF TREES IN ROCKY ...,2006-05-15T00:00:00,35.954755,-77.832038

In [43]:
df['date_time'].max()

Timestamp('2019-12-29 20:40:00')

### Dealing with duplicate rows

In [44]:
df.duplicated(['city','shape']).sum()

41626

### Droping columns & Dealing with NaN

In [52]:
#droping all the rows that has at least one NaN valu
df.dropna().info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 67773 entries, 0 to 88123
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   summary         67773 non-null  object
 1   city            67773 non-null  object
 2   state           67773 non-null  object
 3   date_time       67773 non-null  datetime64[ns]
 4   shape           67773 non-null  object
 5   duration        67773 non-null  object
 6   stats           67773 non-null  object
 7   report_link     67773 non-null  object
 8   text            67773 non-null  object
 9   posted          67773 non-null  object
 10  city_latitude   67773 non-null  float64
 11  city_longitude  67773 non-null  float64
dtypes: datetime64[ns](1), float64(2), object(9)
memory usage: 6.7+ MB

In [51]:
#Specifing the cols that has Nan
df.dropna(subset=['city_latitude'])

,summary,city,state,date_time,shape,duration,stats,report_link,text,posted,city_latitude,city_longitude
0,My wife was driving southeast on a fairly popu...,Chester,VA,2019-12-12 18:43:00,light,5 seconds,Occurred : 12/12/2019 18:43 (Entered as : 12/...,http://www.nuforc.org/webreports/151/S151739.html,My wife was driving southeast on a fairly popu...,2019-12-22T00:00:00,37.343152,-77.408582
1,I think that I may caught a UFO on the NBC Nig...,Rocky Hill,CT,2019-03-22 18:30:00,circle,3-5 seconds,Occurred : 3/22/2019 18:30 (Entered as : 03/2...,http://www.nuforc.org/webreports/145/S145297.html,I think that I may caught a UFO on the NBC Nig...,2019-03-29T00:00:00,41.664800,-72.639300
3,I was driving towards the intersection of fall...,Ottawa,ON,2019-04-17 02:00:00,teardrop,10 seconds,Occurred : 4/17/2019 02:00 (Entered as : 04-1...,http://www.nuforc.org/webreports/145/S145697.html,I was driving towards the intersection of fall...,2019-04-18T00:00:00,45.381383,-75.708501
5,"The object has flashing lights that are green,...",Kirbyville,TX,2019-04-02 20:25:00,disk,15 minutes,Occurred : 4/2/2019 20:25 (Entered as : 04/02...,http://www.nuforc.org/webreports/145/S145476.html,"The object has flashing lights that are green,...",2019-04-08T00:00:00,30.677200,-94.005200
6,Description is the same as Washington DC event...,Tucson,AZ,2019-05-01 11:00:00,unknown,5 minutes,Occurred : 5/1/2019 11:00 (Entered as : 5/1/1...,http://www.nuforc.org/webreports/145/S145947.html,"Description is the same as Washington, DC, eve...",2019-05-09T00:00:00,32.259941,-110.927542
...,...,...,...,...,...,...,...,...,...,...,...,...
88119,there was a stationary orange light in the eas...,Morgan City,LA,2019-10-02 19:15:00,light,2 minutes,Occurred : 10/2/2019 19:15 (Entered as : 10/0...,http://www.nuforc.org/webreports/149/S149421.html,there was a stationary orange light in the eas...,2019-10-04T00:00:00,29.699692,-91.069123
88120,4 lights in formation over Tempe appear while ...,Tempe,AZ,2019-10-02 20:00:00,formation,3 minutes,Occurred : 10/2/2019 20:00 (Entered as : 10/2...,http://www.nuforc.org/webreports/149/S149463.html,4 lights in formation over Tempe appear while ...,2019-10-04T00:00:00,33.414036,-111.920920
88121,"2 bright star like lights in the NNW skys, ((...",Bolivar,MO,2019-10-02 20:00:00,light,20 seconds,Occurred : 10/2/2019 20:00 (Entered as : 10/0...,http://www.nuforc.org/webreports/149/S149405.html,2 bright star like lights in the NNW sky two b...,2019-10-04T00:00:00,37.642200,-93.399600
88122,I just witnessed a ‘Phoenix Lights’ type of fo...,North Port,FL,2019-10-02 20:03:00,formation,20 seconds,Occurred : 10/2/2019 20:03 (Entered as : 10/0...,http://www.nuforc.org/webreports/149/S149424.html,10/2/19 @ 8:03PM EST UFO SIGHTING in the 3428...,2019-10-04T00:00:00,27.076210,-82.223280
88123,"Witnessed an orange, slow moving light. Was lo...",Black Mountain,NC,2019-10-02 22:00:00,fireball,2 minutes,Occurred : 10/2/2019 22:00 (Entered as : 10/0...,http://www.nuforc.org/webreports/149/S149447.html,"Witnessed an orange, slow moving light. Was lo...",2019-10-04T00:00:00,35.605000,-82.313200